<footer class="footer">
    <span class="todo-count"><strong>{{pendientes}}</strong> item left</span>
    <ul class="filters">
        <li>
            <a [class.selected]="'todos'===tipos" (click)="filter('todos')">All</a>
        </li>
        <li>
            <a [class.selected]="'pendientes'===tipos" (click)="filter('pendientes')">Active</a>
        </li>
        <li>
            <a [class.selected]="'completados'===tipos" (click)="filter('completados')">Completed</a>
        </li>
    </ul>
    <button (click)="deleteAll()" class="clear-completed">Clear completed</button>
</footer>